<ul class="nav navbar-nav">
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>
    <div id="loading-icon" class="hidden"></div>
  </li>
  <li><p class="navbar-text">Not signed in.</p></li>

  <li><a href="<%= new_session_url%>"
    class="btn navbar-btn btn-success">Sign In</a>
  </li>

  <li><a href="<%= new_user_url%>"
    class="btn navbar-btn btn-primary">Sign Up</a>
  </li>
</ul>
<!-- end navbar body -->