<ul class="nav navbar-nav navbar-left">
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>
    <div id="loading-icon" class="hidden"></div>
  </li>
  <li><p class="navbar-text">Not signed in.</p></li>

  <li><form action="<%= new_session_url %>">
    <input type="submit" class="btn navbar-btn btn-success" value="Sign In"></a>
  </li>

  <li><form action="<%= new_user_url%>">
    <input type="submit" class="btn navbar-btn btn-primary" value="Sign Up"></a>
  </li>
</ul>
<!-- end navbar body -->