<div class="form-container">
  <form action="<%= session_url %>" method="POST">
    <%= csrf_token %>

    <div class="form-group">
      <label>Username:
      <input type="text"
        name="user[username]"
        class="form-control"
        value="<%= user.username %>"
        placeholder="Username"></input>
      </label>
    </div>

    <div class="form-group">
      <label>Password:
      <input type="password"
        name="user[password]"
        class="form-control"
        placeholder="Check capslock!"></input>
      </label>
    </div>

    <input type="submit" class="btn btn-success" value="Sign In!"></input>
  </form>
</div>