<div class="form-container">
  <form action="<%= session_url %>" method="POST">
    <%= csrf_token %>

    <input type="hidden" name="user[username]" value="ReddundancyGuest"</input>
    <input type="hidden" name="user[password]" value="GuestPass"</input>

    <input type="submit" class="btn btn-success" value="Guest Sign-in"></input>
  </form>
</div>