<p>This UI has been deprecated.  Please visit <a href="">the new homepage.</a></p>

<% if parent_comment %>
<div id="comment-<%= parent_comment.id %>">
  <%= render "show", comment: parent_comment, parent_comment: nil %>
<% end %>

  <%= render "form", post: post, comment: comment, parent_comment: parent_comment %>

<% if parent_comment %>
</div>
<% end %>