This is a placeholder comments/new.
It should only be displayed if there was an error during comment creation.
It will be refactored out later.

<% if parent_comment %>
<div id="comment-<%= parent_comment.id %>">
  <%= render "show", comment: parent_comment, parent_comment: nil %>
<% end %>

  <%= render "form", post: post, comment: comment, parent_comment: parent_comment %>

<% if parent_comment %>
</div>
<% end %>