<p>This UI has been deprecated.  Please visit <a href="">the new homepage.</a></p>

<%= csrf_token %>
<input type="hidden" name="vote[votable_id]" value="<%= model.id %>"></input>
<input type="hidden" name="vote[votable_type]"
  value="<%= model.class.name %>"></input>
