<div class="container" id="navbar">
<!-- begin navbar -->
  <div class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <%= render "navbar/navbar_header"%>
      </div>

      <div class="navbar-collapse collapse">
        <% if current_user %>
          <%= render "navbar/signed_in_navbar_els"%>
        <% else %>
          <%= render "navbar/signed_out_navbar_els" %>
        <% end %>
      </div>
    </div>
  </div>
<!-- end navbar -->
</div>