<p>This UI has been deprecated.  Please visit <a href="">the new homepage.</a></p>

<div id="comment-<%= comment.id %>">
  <%= comment.owner.username %> wrote:
  <%= comment.body %>

  <ul><% post_comments_by_parent_id[comment.id].each do |subcomment| %>
    <li><%= render "comment", comment: subcomment,
      post_comments_by_parent_id: post_comments_by_parent_id %></li>
  <% end %></ul>
</div>