/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-custom";

div.content {
  margin-left: 20px;
}

div.flash {
  margin-left: 20px;
}

div.notice {
  margin-left: 20px;
}

.upvote.active {
  background-color: orange;
}

.downvote.active {
  background-color: #7294f3;
}

.karma p {
  text-align: center;
}

.karma .btn {
  padding: 0px;
  height: 50%;
}

.disabled {
  opacity: 0.6;
  filter:alpha(opacity=50);
}

ul.comment, ul#posts {
  list-style-type: none;
}

.hidden {
  display: none;
}

#loading-icon {
  background: image-url("loading-20x20.gif");
  height: 20px;
  width: 20px;
  margin-top: 10px;
}