.karma {
  text-align: center;
}

.karma .btn {
  padding: 0px;
  height: 50%;
}

.upvote.active {
  background-color: orange;
}

.downvote.active {
  background-color: #7294f3;
}

.karma .upvote:hover {
  background-color: #ffc800;
}

.karma .downvote:hover {
  background-color: lightblue;
}