#loading-icon {
  background: image-url("spinner.gif");
  height: 15px;
  width: 15px;
  margin-top: 15px;
}

.navbar .dropdown {
  margin-top: 8px;
}

#navbar {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.navbar {
  background-color: #EEEEE0;
  padding-left: 10px;
  padding-right: 15px;
  width: 100%;
  border-bottom: 1px solid gray;
}