#loading-icon {
  background: image-url("spinner.gif");
  height: 15px;
  width: 15px;
  margin-top: 15px;
}

.navbar .dropdown {
  margin-top: 8px;
}

#nav-signin-link, #nav-signup-link {
  padding: 6px 12px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
  border: 1px solid transparent;
  color: white;
}

#nav-signin-link:hover {
  background-color: #47a447;
  border-color: #398439;
}

#nav-signup-link:hover {
  background-color: #3276b1;
  border-color: #285e8e;
}

#navbar {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.navbar {
  background-color: #EEEEE0;
  padding-left: 10px;
  padding-right: 15px;
  width: 100%;
  border-bottom: 1px solid gray;
}