.post .karma {
  display: inline-block
}

.post-link {
  display: inline-block
}

#comments .form-container .btn {
  padding: 3px;
  border: 1px solid black;
}

.post-header {
  background-color: #EEEEE0;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

.post-header h1 {
  margin-top: 0px;
  font-size: 24pt;
}

.comment {
  margin-top: 20px;
  width: 500px;
}

.comment .submission-info {
  margin-bottom: 5px;
}

ul.comment { 
  border-left: 1px solid black;
  border-radius: 5px;
}

.post-body {
  display: inline-block;
  background-color: #FFFFFF;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}