#posts li {
  width: 100%;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  background-color: #d3d3d3;
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-post-show {
  margin-top: 5px;
}