<button class="btn btn-primary new-comment-show">Add Comment...</button>

<form class="hidden new-comment-form">
  <div id="comment-form-errors"></div>

  <h3>Add a Comment!</h3>
  <input type="hidden" name="comment[post_id]" value="<%= postId %>">
  <% if (parentId) { %>
    <input type="hidden" name="comment[parent_id]" value="<%= parentId %>">
  <% } %>

  <input type="textarea" name="comment[body]" placeholder="Add Your Wisdom..."></input>
  <br>

  <input type="submit" class="btn btn-success">Submit Comment!</input>
</form>