<li class="row">
  <div class="karma-container"></div>

  <div class="comment-body col-xs-11">
    <%= comment.escape("owner_name") %> wrote:<br>
    <%= comment.escape("body")%>
  </div>

  <div class="buttons-container"><% if(comment.get("user_is_owner")) { %>
    <button class="delete-comment btn btn-danger"
            data-id="<%= comment.get("id") %>">Delete Comment</button>
  <% } %></div>
</li>