<a href='#prevPage' class="prevPage <%= page === 1 ? 'disabled' : '' %>"
  >Previous Page</a>
  <p>Page <%= page %> of <%= total_pages %></p>
<a href='#nextPage' class="nextPage <%= page === total_pages ? 'disabled' : '' %>"
  >Next Page</a>
