<button class="btn btn-primary" id="new-sub-show">Add a Sub</button>

<form class="hidden" id="new-sub-form">
  <div id="sub-form-errors"></div>

  <h3>Add a Sub!</h3>
  <label>Name<input type="textarea" name="sub[name]"></input></label>
  <br>

  <input type="submit" class="btn btn-success">Create Sub!</input>
</form>