<p><a href="#/">Back to Subs Index</a>

<h1><%= sub.escape("name") %></h1>

<% if (Seddit.current_user) { %>
  <%= JST["post_form"]({ sub: sub }) %>
<% } else { %>
  <a href="<%= Seddit.ROOT_URL %>/session/new">Log in to add a post!</a>
<% } %>

<ul id="posts"></ul>